.mia{
background-color: #e83e8c;
}

body{
  font-family: 'Open Sans', sans-serif!important;
}

h1{
   margin-top: 15rem!important;
}

.list-group-item{
    border-left: 1px solid transparent !important;
    border-right: 1px solid transparent !important;
}
